.row
  .col-xs-12
    .card
      .card-header
        .card-title
          .title Question
        .card-btn
          = link_to "Add Question", new_question_path(), class: "btn btn-success"
      .card-body
        = form_tag questions_path, method: :get do
          .form-group
            = text_field_tag :search, params[:search], placeholder: 'Search', class: "form-control"
          = submit_tag 'Search', name: nil, class: 'btn btn-primary btn-xs'
        %br
        .questions-list
          = render 'questions'
        = paginate @questions
        .page-loader
          .text-center.load-more
            %i.fa.fa-refresh
            load more..

= content_for :scripts do
  window.queezebuilder.shared.init_endless_scroll();
