%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-affix{"data-offset-top" => "60", "data-spy" => "affix", role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Queeze Builder', root_path, class: "smooth-scroll navbar-brand"
    #navbar.navbar-collapse.collapse{"aria-expanded" => "true"}
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          %li
            = link_to "Questionnaires", questionnaires_path()
          %li
            = link_to "Questions", questions_path()
          %li
            = link_to "Sign out", destroy_user_session_path(), method: :delete
        - else
          %li
            = link_to "Login / Sign up", new_user_session_path()
