= form_for [@question, @answer] do |f|
  = f.hidden_field :question_id, value: @question.id
  .form-group
    = f.label :body
    = f.text_area :body, class: "form-control"
  .form-group
    = f.label :correct
    = f.check_box :correct, class: "form-control"

  = f.submit "Save", class: "btn btn-success"
